<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>AtualizarDadosUsuario</display-name>
    <servlet-name>AtualizarDadosUsuario</servlet-name>
    <servlet-class>controller.AtualizarDadosUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtualizarDadosUsuario</servlet-name>
    <url-pattern>/AtualizarDadosUsuario</url-pattern>
  </servlet-mapping>
  <display-name>mvc_recodeviagens</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CadastrarUsuario</display-name>
    <servlet-name>CadastrarUsuario</servlet-name>
    <servlet-class>controller.CadastrarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarUsuario</servlet-name>
    <url-pattern>/CadastrarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirConta</display-name>
    <servlet-name>ExcluirConta</servlet-name>
    <servlet-class>controller.ExcluirConta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirConta</servlet-name>
    <url-pattern>/ExcluirConta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarDestino</display-name>
    <servlet-name>ListarDestino</servlet-name>
    <servlet-class>controller.ListarDestino</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarDestino</servlet-name>
    <url-pattern>/ListarDestino</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarDestinos</display-name>
    <servlet-name>ListarDestinos</servlet-name>
    <servlet-class>controller.ListarDestinos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarDestinos</servlet-name>
    <url-pattern>/ListarDestinos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logar</display-name>
    <servlet-name>Logar</servlet-name>
    <servlet-class>controller.Logar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logar</servlet-name>
    <url-pattern>/Logar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DadosContatp</display-name>
    <servlet-name>DadosContatp</servlet-name>
    <servlet-class>controller.DadosContatp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DadosContatp</servlet-name>
    <url-pattern>/DadosContatp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DadosContatos</display-name>
    <servlet-name>DadosContatos</servlet-name>
    <servlet-class>controller.DadosContatos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DadosContatos</servlet-name>
    <url-pattern>/DadosContatos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarContatos</display-name>
    <servlet-name>ListarContatos</servlet-name>
    <servlet-class>controller.ListarContatos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarContatos</servlet-name>
    <url-pattern>/ListarContatos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidarOpt</display-name>
    <servlet-name>ValidarOpt</servlet-name>
    <servlet-class>controller.ValidarOpt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidarOpt</servlet-name>
    <url-pattern>/ValidarOpt</url-pattern>
  </servlet-mapping>
</web-app>